<div *ngIf="leilao" class="auction-details">
    <h2>Detalhes do Leilão</h2>

    <h3 *ngIf="leilao.objeto"><strong>Nome do Objeto:</strong> <a [routerLink]="['/object-details', leilao.objeto.id]">{{ leilao.objeto.title }}</a></h3>
    <p *ngIf="leilao.objeto"><strong>Descrição do objeto:</strong> {{ leilao.objeto.description }}</p>

    <h3><strong>Licitação Feitas:</strong></h3>
    <table>
      <thead>
        <tr>
          <th>Quem fez</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bids">
          <td>{{ bid.id_user.firstname }} {{ bid.id_user.lastname }}</td>
          <td>{{ bid.valor_licitacao | currency:'EUR':'symbol':'1.2-2' }}</td>
          <td>{{ bid.data | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>