<div class="hero-section"></div>
<div class="title-section">
  <h1 class="title-text">Bem Vindo!</h1>
</div>
<div class="cards-section">
  <a href="/leiloes" class="card">
    <img src="/assets/auctions.jpg" alt="Leilões" class="card__img">
    <span class="card__footer">
      <span>Leilões</span>
    </span>
    <span class="card__action">
      <svg viewBox="0 0 448 512" title="play">
        <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
      </svg>
    </span>
  </a>
  <a href="myleiloes" class="card">
    <img src="/assets/objects.webp" alt="Objetos" class="card__img">
    <span class="card__footer">
      <span>Objetos</span>
    </span>
    <span class="card__action">
      <svg viewBox="0 0 448 512" title="play">
        <path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" />
      </svg>
    </span>
  </a>
</div>
