<div class="container">
    <h1>Bem-vindo à Página Inicial</h1>
  
    <!-- Seção para os leilões -->
    <div class="leiloes-section">
      <h2>Leilões em Andamento</h2>
      <div *ngIf="leiloes && leiloes.length > 0" class="leiloes-container">
        <div class="leilao-box" *ngFor="let leilao of leiloes">
          <h3>{{ leilao.nome }}</h3>
          <p>Descrição: {{ leilao.descricao }}</p>
          <p>Preço atual: {{ leilao.precoAtual }}</p>
          <!-- Adicione mais informações do leilão conforme necessário -->
        </div>
      </div>
      <div *ngIf="!leiloes || leiloes.length === 0">
        <p>Nenhum leilão em andamento no momento.</p>
      </div>
    </div>
  
    <!-- Seção para os leilões em que o usuário está participando -->
    <div class="participando-section">
      <h2>Leilões em que Você Está Participando</h2>
      <div *ngIf="leiloesParticipando && leiloesParticipando.length > 0" class="leiloes-container">
        <div class="leilao-box" *ngFor="let leilaoParticipando of leiloesParticipando">
          <h3>{{ leilaoParticipando.nome }}</h3>
          <p>Descrição: {{ leilaoParticipando.descricao }}</p>
          <p>Seu Lance: {{ leilaoParticipando.lanceUsuario }}</p>
          <!-- Adicione mais informações do leilão conforme necessário -->
        </div>
      </div>
      <div *ngIf="!leiloesParticipando || leiloesParticipando.length === 0">
        <p>Você não está participando de nenhum leilão no momento.</p>
      </div>
    </div>
  </div>
  