<mat-card>
  <div class="search-container">
    <!-- Barra de pesquisa -->
    <input class="searchbar" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Pesquisar Objeto" aria-label="Search Objects">
    <!-- Botão para mostrar/ocultar o formulário de adicionar objeto -->
    <button (click)="showAddObjectForm = true" mat-raised-button color="primary">Adicionar Objeto</button>
  </div>

  <mat-card-content>
    <!-- Formulário para adicionar um novo objeto -->
    <div *ngIf="showAddObjectForm" class="add-object-form">
      <form (ngSubmit)="addLostObject()" [formGroup]="lostObjectForm">
        <!-- Campos de entrada para título, data, descrição -->
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="lostObjectForm.controls['title'].invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Date</mat-label>
          <input matInput formControlName="specific_date" type="date" required>
          <mat-error *ngIf="lostObjectForm.controls['specific_date'].invalid">Date is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" required>
          <mat-error *ngIf="lostObjectForm.controls['description'].invalid">Description is required</mat-error>
        </mat-form-field>
        
        <!-- Dropdown dinâmico para categoria -->
        <mat-form-field class="full-width">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category" (selectionChange)="onCategoryChange($event)" required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="lostObjectForm.controls['category'].invalid">Categoria é obrigatória</mat-error>
        </mat-form-field>
        
        <!-- Campos de entrada dinâmicos para atributos -->
        <div class="attribute-category-container">
          <div *ngIf="filteredAttributes.length > 0" class="attribute-container">
            <div *ngFor="let attribute of filteredAttributes" class="full-width">
              <mat-form-field class="full-width">
                <mat-label>{{ attribute.attribute }}</mat-label>
                <input matInput [placeholder]="attribute.attribute" [formControlName]="attribute.id" required>
                <mat-error *ngIf="lostObjectForm.controls[attribute.id].invalid && lostObjectForm.controls[attribute.id].touched">{{ attribute.attribute }} é obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        
        <!-- Botões para salvar e cancelar -->
        <div class="button-container">
          <button mat-raised-button type="submit" color="primary" [disabled]="lostObjectForm.invalid">Save</button>
          <button mat-raised-button type="button" (click)="cancelAddObject()">Cancel</button>
        </div>
      </form>
    </div>
  
    <!-- Lista de cartões -->
    <ul class="cards">
      <li *ngFor="let lostObject of filteredObjects">
        <a class="card" (click)="viewDetails(lostObject)">
          <img [src]="getCardImagePath(lostObject.category)" class="card__image" alt="Image of {{lostObject.title}}">
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                <path />
              </svg>
              <div class="card__header-text">
                <h3 class="card__title">{{lostObject.title}}</h3>
                <span class="card__status">{{lostObject.specific_date | date}}</span>
              </div>
            </div>
            <p class="card__description">{{lostObject.description}}</p>
            <button mat-button color="warn" class="remove-button" (click)="removeLostObject(lostObject.id); $event.stopPropagation()">Remover</button>
          </div>
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
