<form [formGroup]="myForm" (ngSubmit)="addLostObject()">
  <h1>Adicionar Objeto</h1>
  <div mat-dialog-content>
      <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput formControlName="date">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Category</mat-label>
          <input matInput formControlName="category">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Adress</mat-label>
          <input matInput formControlName="adress">
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
  </div>
</form>