<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-avatar" [style.background-image]="'url(' + profileImage + ')'"></div>
    <mat-card-title>{{ userName }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!isEditing">
    <div *ngIf="!isPoliceUser()">
      <div class="profile-field">
        <span class="profile-label">Nome:</span>
        <span class="profile-value">{{ user.firstname }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Apelido:</span>
        <span class="profile-value">{{ user.lastname }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Género:</span>
        <span class="profile-value">{{ user.gender }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Data de Nascimento:</span>
        <span class="profile-value">{{ user.birthday }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Morada:</span>
        <span class="profile-value">{{ user.address.street }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">País:</span>
        <span class="profile-value">{{ user.address.country }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Cidade:</span>
        <span class="profile-value">{{ user.address.city }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Código Postal:</span>
        <span class="profile-value">{{ user.address.zip }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">NIF:</span>
        <span class="profile-value">{{ user.idfiscal }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">CC:</span>
        <span class="profile-value">{{ user.idcivil }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Número de Telefone:</span>
        <span class="profile-value">{{ user.phonenumber }}</span>
      </div>
    </div>

    <div *ngIf="isPoliceUser()">
      <div class="profile-field">
        <span class="profile-label">Nome:</span>
        <span class="profile-value">{{ user.firstname }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Apelido:</span>
        <span class="profile-value">{{ user.lastname }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">ID Interno:</span>
        <span class="profile-value">{{ user.internalid }}</span>
      </div>
      <div class="profile-field">
        <span class="profile-label">Posto de Polícia:</span>
        <span class="profile-value">{{ user.postopolice }}</span>
      </div>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isEditing">
    <form [formGroup]="profileForm" (ngSubmit)="onSave()">
      <div *ngIf="!isPoliceUser()">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apelido</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Género</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Feminino</mat-option>
            <mat-option value="O">Outro</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Nascimento</mat-label>
          <input matInput formControlName="birthday" type="date">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Morada</mat-label>
          <input matInput formControlName="street">
        </mat-form-field>
        <mat-form-field>
          <mat-label>País</mat-label>
          <input matInput formControlName="country">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Código Postal</mat-label>
          <input matInput formControlName="zip">
        </mat-form-field>
        <mat-form-field>
          <mat-label>NIF</mat-label>
          <input matInput formControlName="idfiscal">
        </mat-form-field>
        <mat-form-field>
          <mat-label>CC</mat-label>
          <input matInput formControlName="idcivil">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Número de Telefone</mat-label>
          <input matInput formControlName="phonenumber">
        </mat-form-field>
      </div>

      <div *ngIf="isPoliceUser()">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apelido</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>ID Interno</mat-label>
          <input matInput formControlName="internalid">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Posto de Polícia</mat-label>
          <mat-select formControlName="postopolice">
            <mat-option *ngFor="let posto of postosDePolicia" [value]="posto.id">{{ posto.stationnumber }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Salvar</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions *ngIf="!isEditing">
    <button mat-raised-button color="primary" (click)="editProfile()">Editar</button>
    <button mat-raised-button color="warn" (click)="deactivateAccount()">Desativar Conta</button>
    <button mat-raised-button color="warn" *ngIf="!isPoliceUser()" (click)="deleteAccount()">Deletar Conta</button>
    <button mat-raised-button color="warn" *ngIf="isPoliceUser()" (click)="deletePoliceAccount()">Deletar Conta</button>
  </mat-card-actions>
</mat-card>
