.profile-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f0f5f9;
}

.profile-avatar {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto; /* Center the avatar */
  margin-bottom: 10px; /* Add space below the avatar */
}

.mat-card-header {
  background-color: #54acb4;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center; /* Center align text in header */
}

.mat-card-title,
.mat-card-subtitle {
  color: white;
  text-align: center; /* Center align text in title and subtitle */
  margin: 0; /* Remove default margin */
}

.button-container {
  display: flex;
  justify-content: center; /* Center align buttons */
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.address-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjusted to 2 columns for better layout */
  grid-column-gap: 16px;
  margin-bottom: 16px; /* Added margin below address fields */
}

button[type="submit"] {
  width: 150px; /* Set a fixed width for buttons */
  margin-right: 10px; /* Add space between buttons */
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #3c9d9b;
  color: white;
}
