.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #54acb4; /* Cor de fundo da toolbar */
}

.mat-nav-list .active button {
  background-color: rgba(0, 0, 0, 0.04); /* Cor de fundo quando o botão está ativo */
}

.mat-list-item button {
  width: 100%;
  text-align: left;
  color: #000000; /* Cor do texto dos botões */
}

.mat-list-item button:hover {
  background-color: rgba(0, 0, 0, 0.08); /* Efeito de hover */
}

.login-button, .logout-button {
  width: 5%;
  height: 45px;
  margin-right: 7px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.login-button {
  background-color: #e9ecf0; /* Cor de fundo do botão de login */
  color: #000000; /* Cor do texto do botão de login */
}

.logout-button {
  background-color: #ff5733; /* Cor de fundo do botão de logout */
  color: #f8f9fa; /* Cor do texto do botão de logout */
}

.botao mat-icon {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto nos botões */
}
