<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button>Login</button>
    <button (click)="badgevisibility()"  mat-icon-button>
        <mat-icon matBadgeColor="accent" matBadge="15" [matBadgeHidden]="badgevisible" matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="slider" mat-button><mat-icon>explore</mat-icon> Maps</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="leiloes" mat-button><mat-icon>form</mat-icon> Leilões</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="myleiloes" mat-button><mat-icon>form</mat-icon> Meus Leilões</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="myaccount" mat-button><mat-icon>account_circle</mat-icon> Minha Conta</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="entrarregistar" mat-button><mat-icon>account_circle</mat-icon> Entrar/Registar</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container>