<div class="profile-completion-container">
  <h2>Complete o Seu Perfil</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onCompleteProfile()">
    <label for="firstname">Nome</label>
    <input type="text" id="firstname" formControlName="firstname" required>
    <div *ngIf="profileForm.controls['firstname'].invalid && profileForm.controls['firstname'].touched" class="error-message">Por favor, insira um nome válido.</div>

    <label for="lastname">Apelido</label>
    <input type="text" id="lastname" formControlName="lastname" required>
    <div *ngIf="profileForm.controls['lastname'].invalid && profileForm.controls['lastname'].touched" class="error-message">Por favor, insira um nome válido.</div>
    
    <label for="gender">Género</label>
    <select id="gender" formControlName="gender" required>
      <option value="male">Masculino</option>
      <option value="female">Feminino</option>
      <option value="other">Outro</option>
    </select>

    <label for="birthday">Data de Nascimento</label>
    <input type="date" id="birthday" formControlName="birthday" required>
    <div *ngIf="profileForm.controls['birthday'].invalid && profileForm.controls['birthday'].touched" class="error-message">Por favor, insira uma data de nascimento válida.</div>
    
    <label for="street">Morada</label>
    <input type="text" id="street" formControlName="street" required>
    <div *ngIf="profileForm.controls['street'].invalid && profileForm.controls['street'].touched" class="error-message">Por favor, insira uma morada válida.</div>

    <div class="address-fields">
      <div>
        <label for="country">País</label>
        <input type="text" id="country" formControlName="country" required>
        <div *ngIf="profileForm.controls['country'].invalid && profileForm.controls['country'].touched" class="error-message">Por favor, insira um país válido.</div>
      </div>
      <div>
        <label for="city">Cidade</label>
        <input type="text" id="city" formControlName="city" required>
        <div *ngIf="profileForm.controls['city'].invalid && profileForm.controls['city'].touched" class="error-message">Por favor, insira uma cidade válida.</div>
      </div>
      <div>
        <label for="zip">Código Postal</label>
        <input type="text" id="zip" formControlName="zip" required>
        <div *ngIf="profileForm.controls['zip'].invalid && profileForm.controls['zip'].touched" class="error-message">Por favor, insira um código postal válido.</div>
      </div>
    </div>

    <label for="nif">NIF</label>
    <input type="text" id="nif" formControlName="nif" required>
    <div *ngIf="profileForm.controls['nif'].invalid && profileForm.controls['nif'].touched" class="error-message">Por favor, insira um NIF válido.</div>
    
    <label for="cc">CC</label>
    <input type="text" id="cc" formControlName="cc" required>
    <div *ngIf="profileForm.controls['cc'].invalid && profileForm.controls['cc'].touched" class="error-message">Por favor, insira um CC válido.</div>
    
    <label for="phoneNumber">Número de Telefone</label>
    <input type="tel" id="phoneNumber" formControlName="phoneNumber" required>
    <div *ngIf="profileForm.controls['phoneNumber'].invalid && profileForm.controls['phoneNumber'].touched" class="error-message">Por favor, insira um número de telefone válido.</div>

    <div class="privacy-checkbox">
      <input type="checkbox" id="privacyCheckbox" formControlName="privacyCheckbox" required>
      <p>Li e aceito as <a routerLink='../politica-privacidade' href="politica-privacidade">Política de Privacidade</a> deste website.</p>
      <div *ngIf="profileForm.controls['privacyCheckbox'].invalid && profileForm.controls['privacyCheckbox'].touched" class="error-message">Por favor, aceite as políticas de privacidade.</div>
    </div>

    <button type="submit" [disabled]="profileForm.invalid">Completar Perfil</button>
  </form>
</div>
