<div class="privacy-policy-container">
    <h1>Política de Privacidade</h1>
    <p>Bem-vindo ao Tesouros Perdidos. A sua privacidade é muito importante para nós. Esta política de privacidade descreve como as suas informações pessoais são recolhidas, usadas e partilhadas quando visita o nosso site ou utiliza os nossos serviços.</p>

    <h2>Informações que Recolhemos</h2>
    <p>Recolhemos diferentes tipos de informações sobre si, incluindo:</p>
    <ul>
        <li><strong>Informações de Conta:</strong> Nome, género, ano de nascimento, morada, número de identificação fiscal e civil, número de telefone e endereço de correio eletrónico.</li>
        <li><strong>Informações sobre Objetos:</strong> Descrições de objetos perdidos e encontrados, incluindo atributos como marca, modelo, número de série, cor e localização.</li>
    </ul>

    <h2>Como Usamos as Suas Informações</h2>
    <p>Utilizamos as informações que recolhemos de várias formas, incluindo:</p>
    <ul>
        <li>Para registar e gerir a sua conta.</li>
        <li>Para ajudar a encontrar objetos perdidos e encontrados.</li>
        <li>Para gerir leilões de objetos não reclamados.</li>
        <li>Para melhorar os nossos serviços e desenvolver novas funcionalidades.</li>
    </ul>

    <h2>Partilha das Suas Informações</h2>
    <p>Podemos partilhar as suas informações com terceiros apenas nas seguintes circunstâncias:</p>
    <ul>
        <li>Para cumprir requisitos legais ou responder a processos legais.</li>
        <li>Para proteger os direitos, propriedade ou segurança da Tesouros Perdidos e dos nossos utilizadores.</li>
    </ul>

    <h2>Segurança das Informações</h2>
    <p>Implementamos medidas de segurança para proteger as suas informações pessoais. No entanto, nenhum sistema de segurança é impenetrável e não podemos garantir a segurança absoluta das suas informações.</p>

    <h2>Os Seus Direitos</h2>
    <p>Tem o direito de aceder, corrigir ou apagar as suas informações pessoais. Pode também optar por não partilhar certas informações, embora isso possa limitar a sua capacidade de usar alguns dos nossos serviços.</p>

    <h2>Alterações a esta Política</h2>
    <p>Podemos atualizar esta política de privacidade de tempos a tempos. Quando o fizermos, notificaremos os utilizadores registados através do e-mail e atualizaremos a data no topo desta página.</p>

    <h2>Contacto</h2>
    <p>Se tiver alguma dúvida sobre esta política de privacidade ou sobre como utilizamos as suas informações, por favor, contacte-nos.</p>


</div>





