<mat-card>
  <div class="search-container">
    <input class="searchbar" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Pesquisar Objeto" aria-label="Search Objects">
    <button (click)="showAddObjectForm = true" mat-raised-button color="primary">Adicionar Objeto</button>
  </div>

  <mat-card-content>
    <!-- Formulário para adicionar objeto -->
    <div *ngIf="showAddObjectForm">
      <form (ngSubmit)="addLostObject()" [formGroup]="lostObjectForm">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="lostObjectForm.controls['title'].invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput formControlName="specific_date" type="date" required>
          <mat-error *ngIf="lostObjectForm.controls['specific_date'].invalid">Date is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" required>
          <mat-error *ngIf="lostObjectForm.controls['description'].invalid">Description is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input matInput formControlName="category" required>
          <mat-error *ngIf="lostObjectForm.controls['category'].invalid">Category is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="lostObjectForm.invalid">Save</button>
        <button mat-raised-button type="button" (click)="cancelAddObject()">Cancel</button>
      </form>
    </div>

    <ul class="cards">
      <li *ngFor="let lostObject of filteredObjects">
        <a class="card">
          <img [src]="getCardImagePath(lostObject.category.category.id)" class="card__image" alt="Image of {{lostObject.title}}">
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                <path />
              </svg>
              <div class="card__header-text">
                <h3 class="card__title">{{lostObject.title}}</h3>
                <span class="card__status">{{lostObject.specific_date | date}}</span>
              </div>
            </div>
            <p class="card__description">{{lostObject.description}}</p>
            <p class="card__description">(Opções vão aparecer nesta zona)</p>
          </div>
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
