<mat-card>
  
  <div class="search-container">
    <input class="searchbar" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Pesquisar Objeto">
    <button  (click)="showAddObjectForm = true" mat-raised-button color="primary">Adicionar Objeto</button>
  </div>

  <mat-card-content>
    <!-- Formulário para adicionar objeto -->
    <div *ngIf="showAddObjectForm">
      <form (ngSubmit)="addLostObject()">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="newLostObject.title" name="title" type="text" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [(ngModel)]="newLostObject.specific_date" name="date" type="date" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="newLostObject.description" name="description" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input matInput [(ngModel)]="newLostObject.category" name="category" required>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <button mat-raised-button (click)="cancelAddObject()">Cancel</button>
      </form>
    </div>

    <ul class="cards">
      <li *ngFor="let lostObject of filteredObjects">
        <a class="card" *ngIf="lostObject.title.toLowerCase().includes(searchText.toLowerCase())">
          <img [src]="getCardImagePath(lostObject.category.category.id)" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                <path />
              </svg>
              <div class="card__header-text">
                <h3 class="card__title">{{lostObject.title}}</h3>
                <span class="card__status">{{lostObject.date}}</span>
              </div>
            </div>
            <p class="card__description">{{lostObject.description}}</p>
            <p class="card__description">(Opções vão aparecer nesta zona)</p>
          </div>
        </a>
      </li>
    </ul>

  </mat-card-content>

</mat-card>
