<form [formGroup]="myform" (ngSubmit)="Saveuser()">
  <h1>Adicionar Leilão</h1>
  <div mat-dialog-content>
      <mat-form-field>
          <mat-label>ID</mat-label>
          <input formControlName="id" matInput>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Valor Base</mat-label>
          <input matInput formControlName="baseValue">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Data de Início</mat-label>
          <input matInput formControlName="beginDate">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Data de Fim</mat-label>
          <input matInput formControlName="endDate">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Objeto</mat-label>
          <input matInput formControlName="object">
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
  </div>
</form>