<footer>
  <div class="container">
    <p class="footer-title">
      <a routerLink="" mat-button>Home</a>
      <a routerLink="slider" mat-button>Maps</a>
      <a routerLink="leiloes" mat-button>Leilões</a>
      <a routerLink="myleiloes" mat-button>Objetos</a>
      <a routerLink="myaccount" mat-button>Minha Conta</a>
    </p>
    <p>&copy; 2024 Tesouros Perdidos. Todos os direitos reservados.</p>
    <p><a routerLink="politica-privacidade" mat-button>Política de Privacidade</a></p>
  </div>
</footer>
